<div class = "projects">
  <div class = "container">
    <h1>Projects</h1>
    <ul>
      <% @projects.each do |project| %>
        <li><%= project["name"] %></li>
      <% end %>
    </ul>
    <button class = "waves-effect waves-light btn"><a href = "https://github.com/haleyswain">view my github profile</a></button>
    <div class = "container">
    <i class="devicon-angularjs-plain colored" id="devicon" ></i>
    <i class="devicon-bootstrap-plain-wordmark colored" id="devicon"></i>
    <i class="devicon-css3-plain colored" id="devicon"></i>
    <i class="devicon-github-plain colored" id="devicon"></i>
    <i class="devicon-heroku-plain-wordmark colored" id="devicon"></i>
    <i class="devicon-html5-plain colored" id="devicon"></i>
    <i class="devicon-javascript-plain colored" id="devicon"></i>
    <i class="devicon-jquery-plain-wordmark colored" id="devicon"></i>
    <i class="devicon-rails-plain-wordmark colored" id="devicon"></i>
    <i class="devicon-ruby-plain-wordmark colored id="devicon""></i>
    <i class="devicon-sass-original colored" id="devicon"></i>
  </div>
</div>
  </div>
