<div class = 'container'>
  <div class = "about">
    <h2>About Haley</h2>
      <div class = "picture col-sm-4">
        <img src = "https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/p320x320/16266224_1403601796318612_3592533724075376807_n.jpg?oh=029fac7927a9cac8ca94beb8ff836540&oe=592D8EC1">
      </div>
      <div class = "row">
      <div class = "text col-sm-4">
        <h3> Hi, Im Haley </h3>
        <h5><em>"The Journey of a thousand miles begins with a single step..."</em></h5>
        <p>
          I'm an aspiring Web Developer currently residing in the Silicon Forest. My roots come from the plains of Montana, where I grew up with a love and passion for everything outdoors. </p>
        <p> Today, I am enthusiastic about learning. Continuous improvement is my mantra, and I can't wait to see where the Junior Developer journey takes me!</p>
        <%= link_to "Check out what I've Made", user_projects_path(@user) %>
      </div>
    </div>
  </div>
</div>
