@import "materialize";

body {
  display: flex;
  max-height: 300px;
  flex-direction: column;
}
.projects {
  padding-bottom: 10%;
  text-align: center;
}
main {
    flex: 1 0 auto;
}
i {
font-size: 80px;
}

footer.page-footer{
  margin: 0px;
  background-color: #bbdefb;
}
.about {
  text-align: center;
}
#linkedin{
  max-width: 50px;
  max-height: 50px;
}
#github {
   max-width: 50px;
   max-height: 50px;
 }
.content .top {
background-image: url("https://static.pexels.com/photos/115045/pexels-photo-115045.jpeg");
 background-size: cover;
 background-position: center bottom;
 height: 600px;
 width: 100%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 color: white;
 justify-content: center;
 font-style: italic;
 font-family:'Merriweather', serif;
 animation-name: textglow;
 animation-duration: 10s;
 animation-iteration-count: infinite;
}
nav {
  background-color: #bbdefb;
}
.waves-effect {
  background-color: white;
  margin: 5%;
}
